body {
    color: #ebf307;
    background: #ef0707;
margin: 0px;

}

header{
 border-bottom: solid 2px rgb(246, 250, 5);
 padding: 20px ; 
 font-size: 32px ;
 color: #ebf307;
}
section{
    background-color: #ef0707;;
padding-bottom: 80px;
padding-top: 80px;
}